<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="stylesheet" href="../css/listaChamado.css">
    <title>Lista de chamados</title>
</head>

<body>
    <main>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Data</th>
                    <th scope="col">Título</th>
                    <th scope="col">Status</th>
                    <th scope="col"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-search" viewBox="0 0 16 16">
                            <path
                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                        </svg></th>
                </tr>
            </thead>

            
            <tbody>
                <tr data-th-each="livro: ${livros}">
                    <td data-th-text="${livro.id}"></td>
                    <td data-th-text="${livro.nome}"></td>
                    <td data-th-text="${livro.genero}"></td>
                    <td data-th-text="${livro.autor}"></td>
                    <td data-th-text="${livro.ano_publicacao}"></td>
                    <td th:text="${livro.status ? 'Disponível para reserva' : 'Indisponível para reserva'}"></td>

                    <td><a th:href="@{'/excluirLivro/'+ ${livro.id}}">Excluir</a></td>
                    <td><a th:href="@{'/editarLivro/'+ ${livro.id}}">Editar</a></td>

                    <div th:if="${livro.status} == true">
                        <td><a th:href="@{'/reservarLivro/'+ ${livro.id}}">Reservar</a></td>
                    </div>

                    <div th:if="${livro.status} == false">
                        <td><a th:href="@{'/reservarLivro/'+ ${livro.id}}">Devolver</a></td>
                    </div>

                </tr>
            </tbody>
        </table>
    </main>
    <footer>
        <p>&copy; Copyright Portal do Chamado</p>
    </footer>
</body>

</html>