<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/loginUsuario.css">
    <title>Login</title>
</head>

<body>

    <div id="boxCadastroEsquerda">

    </div>

    <div id="boxCadastroDireita">
        <form action="/loginUsuario" method="post">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" required>
            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" required>
            <input type="submit" value="Login">
            </br></br>
            <p class="textCadastro">Ainda não possui cadastro?</p>
            <button onclick="window.location.href='/cadastroUsuario'" class="botaoCadastrar">Cadastre-se</button>
        </form>
        <br>
    </div>
</body>

</html>