<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="./css/menuPrincipal.css">
</head>

<body>
    
    <button onclick="window.location.href='/cadastroUsuario'" class="botoes">Cadastrar usuário</button>
    <button onclick="window.location.href='/cadastroChamado'" class="botoes">Cadastrar chamado</button>
    <button onclick="window.location.href='/listaChamado'" class="botoes">Acompanhar chamados</button>
    <button onclick="window.location.href='/cadastroFila'" class="botoes">Cadastrar fila</button>
    <button onclick="window.location.href='/cadastroProduto'" class="botoes">Cadastrar produto</button>
    <button onclick="window.location.href='/loginUsuario'" class="botoes">Sair</button>


</body>

</html>